<a href="https://colab.research.google.com/github/willmarf/UWPython/blob/main/pandas_tricks_from_youtube.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
import numpy as np

In [59]:
df2= pd.DataFrame(np.random.rand(4,8))

In [8]:
df =pd.DataFrame(np.random.rand(4,8), columns = list('safingox'))

In [9]:
df

,s,a,f,i,n,g,o,x
0,0.738480,0.157813,0.435198,0.555896,0.246323,0.552043,0.216198,0.436913
1,0.595521,0.478429,0.104528,0.323394,0.703935,0.219793,0.102966,0.117307
2,0.170158,0.914180,0.764006,0.988335,0.543736,0.329197,0.692518,0.540782
3,0.596995,0.367613,0.377640,0.743525,0.412310,0.958378,0.471878,0.527512

In [50]:
tinydf = pd.DataFrame({'col one':[100, 200], 'col two':[300,400]})
tinydf

   col one  col two
0      100      300
1      200      400

In [51]:
tinydf.columns= tinydf.columns.str.replace(' ','_')
tinydf

   col_one  col_two
0      100      300
1      200      400

In [52]:
tinydf.columns = ['a','b']
tinydf

     a    b
0  100  300
1  200  400

In [53]:
tinydf= tinydf.add_suffix('_X')
tinydf= tinydf.add_prefix('column_')
tinydf

   colummn_a_X  colummn_b_X
0          100          300
1          200          400

In [55]:
tinydf.columns= tinydf.columns.str.replace('column_','')

tinydf

   a_X  b_X
0  100  300
1  200  400

In [56]:
tinydf.loc[::-1].head()

   a_X  b_X
1  200  400
0  100  300

In [57]:
tinydf.loc[::-1].reset_index(drop = True).head()
##these commands reverse all rows in a pd df
#this second one resets the indexes as well

   a_X  b_X
0  200  400
1  100  300

In [58]:
from glob import glob

In [67]:
vertical_files = sorted(glob('exampledata*.csv')
vertical_files

pd.concat((pd.read_csv(file) for file in vertical_files), ignore_index = True)

#combine a dataframe out of new rows from different CSVS

SyntaxError: ignored

In [68]:
horizontal_files = sorted(glob('exampledata*.csv'))
pd.concat((pd.read_csv(file) for file in horizontal_files), axis = 'columns').head()

ValueError: ignored

In [74]:
df = df.join(df2)

ValueError: ignored

In [80]:
df.dtypes

s    float64
a    float64
f    float64
i    float64
n    float64
g    float64
o    float64
x    float64
0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
dtype: object

In [82]:
df.f.unique()

array([0.43519778, 0.10452791, 0.76400617, 0.37763979])

In [89]:
df[(df.f == 0.435198)|
   (df.f == 0.104528)].head()

Empty DataFrame
Columns: [s, a, f, i, n, g, o, x, 0, 1, 2, 3, 4, 5, 6, 7]
Index: []

In [86]:
df[~df.f.isin(['0.435198','0.104528'])].head()

,s,a,f,i,n,g,o,x,0,1,2,3,4,5,6,7
0,0.738480,0.157813,0.435198,0.555896,0.246323,0.552043,0.216198,0.436913,0.491092,0.783675,0.085718,0.908117,0.849031,0.458762,0.978990,0.359034
1,0.595521,0.478429,0.104528,0.323394,0.703935,0.219793,0.102966,0.117307,0.586454,0.720582,0.263111,0.277306,0.481064,0.780793,0.851911,0.845839
2,0.170158,0.914180,0.764006,0.988335,0.543736,0.329197,0.692518,0.540782,0.038933,0.815105,0.525781,0.076808,0.389238,0.067520,0.256358,0.964680
3,0.596995,0.367613,0.377640,0.743525,0.412310,0.958378,0.471878,0.527512,0.261725,0.092598,0.529744,0.458917,0.641769,0.027612,0.329353,0.010355

In [92]:
##SPLIT A STRING INTO MULTIPLE COLUMNS
ndf = pd.DataFrame({'name':['William C Marfleet', 'Jane Lee Austin', 'Rod Gilbert'],
                   'location':['Los Angeles, CA', 'Washington, DC', 'Atlantic City, NJ']})

In [94]:
ndf.name.str.split(' ', expand= True)
ndf

         0        1         2
0  William        C  Marfleet
1     Jane      Lee    Austin
2      Rod  Gilbert      None

In [95]:
ndf.location.str.split(', ', expand= True)

               0   1
0    Los Angeles  CA
1     Washington  DC
2  Atlantic City  NJ

In [96]:
ndf['city'] = ndf.location.str.split(', ', expand= True) [0]
ndf

                 name           location           city
0  William C Marfleet    Los Angeles, CA    Los Angeles
1     Jane Lee Austin     Washington, DC     Washington
2         Rod Gilbert  Atlantic City, NJ  Atlantic City

In [ ]:
##ok that one was cool, some kinks to iron out if you want first last middle. not sure how to teach it to not populate middle in 2 word names

In [99]:
lists1 = pd.DataFrame({'col_one':['a','b','c'],
                       'col_two':[[10,40], [20,50], [30,60]]})
lists1

  col_one   col_two
0       a  [10, 40]
1       b  [20, 50]
2       c  [30, 60]

In [100]:
lists2 = lists1.col_two.apply(pd.Series)
lists2

    0   1
0  10  40
1  20  50
2  30  60

In [122]:
lists3 = pd.concat([lists1, lists2], axis = 'columns')
lists3

  col_one   col_two   0   1
0       a  [10, 40]  10  40
1       b  [20, 50]  20  50
2       c  [30, 60]  30  60

In [123]:
lists3 = lists3.drop('col_two', axis =1 )

In [124]:
lists3

  col_one   0   1
0       a  10  40
1       b  20  50
2       c  30  60

In [ ]:
#drop a column bruh, that should be easier i figured

In [127]:
lists3.describe().loc['min':'max',1]

min    40.0
25%    45.0
50%    50.0
75%    55.0
max    60.0
Name: 1, dtype: float64